<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="card">
  <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nihil
      debitis, officiis quibusdam deserunt architecto magnam quod. Nobis quam
      maxime fuga ad, voluptates dolorum laborum autem doloribus magnam
      praesentium quas!
     
      
    </p>
    <button class="button" [type]="btn">{{ clickme! }}</button>




  </div>
</div>
