

    <div class="header">
        <nav >
            <ul>
                <img [src]=teglinelogo>
                <li >
                    <a routerLink="navbar">{{lable[0]}}</a>
                </li>
                <li>
                    <a routerLink="/app-navbar">{{lable[1]}}</a>
                </li>
                <li>
                    <a routerLink="/app-navbar">{{lable[3]}}</a>
                </li>
                <li>
                    <a routerLink="/app-navbar">{{lable[4]}}</a>
                </li> 
                <li>
                    <a routerLink="/app-navbar">{{lable[5]}}</a>
                </li> 
               
                  
               <div>
                <button [type]="btn" style="display: flex;">{{getquote}}</button>
               </div>
                
                </ul>
            </nav>
    </div>
 
