<p>navbar works!</p>

  <div class="header">
    <nav>
      <ul>
        <img [src]="teglinelogo" />
        <li *ngFor="let navbar of lable">
          <a [routerLink]="'/services'" routerLinkActive="active-tab"
            >{{ navbar.label }}
          </a>
          <a [routerLink]="'technology'" routerLinkActive="active-tab">
            {{ navbar.label1 }}
            </a>
          <a [routerLink]="'user'" routerLinkActive="active-tab">
            {{ navbar.label2 }}
            </a>
          <a
            [routerLink]="'/view'"
            routerLinkActive="active-tab"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ navbar.label3 }}
            </a>
        </li>
        <div>
          <button [type]="btn" style="display: flex" (click)="logout()">{{ getquote }}</button>
        </div>
      </ul>
    </nav>
  </div>
