<p>navbar works!</p>

    <div class="header">
        <nav >
            <ul>
                <img [src]=teglinelogo>
                <li *ngFor="let navbar of lable">
                    <a [routerLink]="'services'" >{{navbar.label}}</a>
                    <a [routerLink]="'technology'" >{{navbar.label1}}</a>
                    
                </li>
        
                  
               <div>
                <button [type]="btn" style="display: flex;">{{getquote}}</button>
               </div>
                
                </ul>
            </nav>
    </div>
 
